alias aurau='sudo aur && sudo aura -Syu && sudo aura -Akua'
alias aurac='sudo aura -Oj && sudo paccache -r && sudo paccache -ruk0 && sudo pacman-optimize'
alias aural='aura -Qi | awk "/^Name/ {pkg=\$3} /Size/ {print \$4\$5,pkg}" | sort -h | column -t'
alias auras='sudo reflector --verbose -l 25 --sort rate --save /etc/pacman.d/mirrorlist'
alias redshift-toggle='(pgrep redshift && pkill redshift) || redshift -l 55.4:12.25 -m vidmode &'
alias make-lists='comm -23 <(pacman -Qqen | sort) <(pacman -Qgq base base-devel | sort) > ~/annex/lists/pacman.txt && pacman -Qqem > ~/annex/lists/aur.txt && systemctl list-unit-files | grep enabled | awk "{print \$1}" > ~/annex/lists/systemd.txt'
