[user]
  name = Jens Fredskov
  email = jensfredskov@protonmail.ch
[credential]
  helper = cache
[push]
  default = simple
[diff]
  tool = p4merge
  compactionHeuristic = true
[merge]
  tool =p4merge
[difftool]
  prompt = false
[alias]
  c = commit
  up = "!git fetch && git rebase --autostash FETCH_HEAD"
  p = push
  s = status -sb
  co = checkout
  a = add
  aa = add -A
  d = diff
  dc = diff --cached
  df = diff --color --color-words --abbrev
  f = fetch
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
  yolo = "!git commit -m \"YOLO: `curl -s http://whatthecommit.com/index.txt`\""
  st = stash
[core]
  editor = nvim
  autocrlf = input
  # insanely beautiful diffs
  pager = diff-so-fancy | less --tabs=2 -RFX
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

# so much color
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color]
  ui = always
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  changed = yellow
  untracked = cyan

# correct typos
[help]
  autocorrect = 1
